@import url("https://fonts.cdnfonts.com/css/sf-pro-display");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "SF Pro Display", sans-serif;
  width: 100vw;
  height: 100vh;
}

button {
  border-radius: 50%;
  outline: none;
  border: none;
  width: 50px;
  height: 50px;
  aspect-ratio: 1 / 1;
  cursor: pointer;
}

.container {
  width: 30%;
  height: fit-content;
  background-color: grey;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  padding: 1rem;
}

.screen {
  background-color: #fff;
  margin-bottom: 0.5rem;
  height: 50px;
}

.buttons-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
