@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

/* 
Very Light Gray: hsl(0, 0%, 98%)
Very Light Grayish Blue: hsl(236, 33%, 92%)
Light Grayish Blue: hsl(233, 11%, 84%)
Dark Grayish Blue: hsl(236, 9%, 61%)
Very Dark Grayish Blue: hsl(235, 19%, 35%)
*/

/*
Very Dark Blue: hsl(235, 21%, 11%)
Very Dark Desaturated Blue: hsl(235, 24%, 19%)
Light Grayish Blue: hsl(234, 39%, 85%)
Light Grayish Blue (hover): hsl(236, 33%, 92%)
Dark Grayish Blue: hsl(234, 11%, 52%)
Very Dark Grayish Blue: hsl(233, 14%, 35%)
Very Dark Grayish Blue: hsl(237, 14%, 26%)
*/

:root {
  --bg-color: #f4f4f8;
  --items-bg-color: #fff;
  --completed-task: #ccc;
  --border-color: #f4f4f8;
}

.dark-theme {
  --bg-color: #c3c3c3;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans 3", sans-serif;
  background-color: var(--bg-color);
  font-size: 18px;
  background-image: url("./assets/bg-desktop-light.jpg");
  background-repeat: no-repeat;
}

select,
textarea,
button,
input {
  font-family: inherit;
}

ul {
  list-style: none;
}

li {
  display: flex;
  justify-content: space-between;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.container {
  width: 90%;
  margin: auto;
  padding-top: 2rem;
}

.complete {
  text-decoration: line-through;
  color: var(--completed-task);
}

.note {
  padding: 0.75rem;
  font-size: 1rem;
  overflow-wrap: anywhere;
}

.hidden-note {
  display: none;
}

.note p {
  padding: 0 1rem;
}

#notes-container {
  background-color: var(--items-bg-color);
  border-radius: 0.5rem;
}

#notes-input {
  width: 100%;
  border: none;
  padding: 0.75rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  font-size: 1rem;
}

#notes-input:focus {
  outline: none;
}

#notes-filter-container {
  width: 100%;
  padding: 0.75rem;
  background-color: var(--items-bg-color);
  display: flex;
  justify-content: space-around;
  font-size: 1rem;
  margin-top: 2rem;
  border-radius: 0.5rem;
}

.active-filter {
  text-decoration: underline;
}

@media screen and (min-width: 375px) {
  .container {
    width: 40%;
  }
}

@media screen and (max-width: 375px) {
  #incomplete-count {
    display: none;
  }

  #clear-completed-btn {
    display: none;
  }
}
