@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans 3", sans-serif;
}

select,
textarea,
button,
input {
  font-family: inherit;
}

ul {
  list-style: none;
}

li {
  display: flex;
  justify-content: space-between;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

input[type="checkbox"] {
  cursor: pointer;
  border-radius: 50%;
  border: none;
}

.container {
  width: 80%;
  margin: auto;
}

.checked {
  text-decoration: line-through;
}
